<div class="container">
  <div class="polaroid">
    <img class="photo" src="https://images.unsplash.com/photo-1596815045171-88fd3eb19f90?w=611" alt="">
    <div class="capition">
      <h2>Title</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis laudantium nesciunt repudiandae blanditiis nam aliquam itaque doloremque nostrum veniam! Voluptate quas in nisi illo natus explicabo ullam aut nostrum. Iusto.</p>
    </div>
  </div>
  <div class="polaroid">
    <img class="photo" src="https://images.unsplash.com/photo-1612886999633-1a6cfbac68f1?&w=600" alt="">
    <div class="capition">
      <h2>Title</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis laudantium nesciunt repudiandae blanditiis nam aliquam itaque doloremque nostrum veniam! Voluptate quas in nisi illo natus explicabo ullam aut nostrum. Iusto.</p>
    </div>
  </div>
  <div class="polaroid">
    <img class="photo" src="https://images.unsplash.com/photo-1601288496920-b6154fe3626a?w=634" alt="">
    <div class="caption">
      <h2>Title</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis laudantium nesciunt repudiandae blanditiis nam aliquam itaque doloremque nostrum veniam! Voluptate quas in nisi illo natus explicabo ullam aut nostrum. Iusto.</p>
    </div>
  </div>
  <div class="polaroid">
    <img class="photo" src="https://images.unsplash.com/photo-1604004555489-723a93d6ce74?w=600" alt="">
    <div class="capition">
      <h2>Title</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis laudantium nesciunt repudiandae blanditiis nam aliquam itaque doloremque nostrum veniam! Voluptate quas in nisi illo natus explicabo ullam aut nostrum. Iusto.</p>
    </div>
  </div>
  <div class="polaroid">
    <img class="photo" src="https://images.unsplash.com/photo-1577091937200-29915517c0bd?w=633" alt="">
    <div class="capition">
      <h2>Title</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis laudantium nesciunt repudiandae blanditiis nam aliquam itaque doloremque nostrum veniam! Voluptate quas in nisi illo natus explicabo ullam aut nostrum. Iusto.</p>
    </div>
  </div>
  <div class="polaroid">
    <img class="photo" src="https://images.unsplash.com/photo-1522262590532-a991489a0253?&w=564" alt="">
    <div class="capition">
      <h2>Title</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis laudantium nesciunt repudiandae blanditiis nam aliquam itaque doloremque nostrum veniam! Voluptate quas in nisi illo natus explicabo ullam aut nostrum. Iusto.</p>
    </div>
  </div>
  <div class="polaroid">
    <img class="photo" src="https://images.unsplash.com/photo-1505919130581-e235c7ed874f?&w=600" alt="">
    <div class="caption">
      <h2>Title</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis laudantium nesciunt repudiandae blanditiis nam aliquam itaque doloremque nostrum veniam! Voluptate quas in nisi illo natus explicabo ullam aut nostrum. Iusto.</p>
    </div>
  </div>
  <div class="polaroid">
    <img class="photo" src="https://images.unsplash.com/photo-1514626585111-9aa86183ac98?w=634" alt="">
    <div class="caption">
      <h2>Title</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis laudantium nesciunt repudiandae blanditiis nam aliquam itaque doloremque nostrum veniam! Voluptate quas in nisi illo natus explicabo ullam aut nostrum. Iusto.</p>
    </div>
  </div>
  <div class="polaroid">
    <img class="photo" src="https://images.unsplash.com/flagged/photo-1573488879132-f405037826d2?w=634" alt="">
    <div class="caption">
      <h2>Title</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis laudantium nesciunt repudiandae blanditiis nam aliquam itaque doloremque nostrum veniam! Voluptate quas in nisi illo natus explicabo ullam aut nostrum. Iusto.</p>
    </div>
  </div>
</div>